html {  
    scroll-behavior: smooth;
} 
h2, h3, h4, .nav-items, #transition, footer {
    text-align: center;
} 
/* ******************************** HEADER *********************************************** */
.collapse {
    margin-left: 4%;
}
.nav-items {
    color: darkslategray;
    font-weight: bold;
    padding-right: 45px;
}
header {
    background-image: url("BACGROUND 7.jpg");
    background-size: cover;
    height: 100vh; 
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
} 
h1  {     
    font-size: 5em;
    padding: 200px  0  0 20%;
    text-shadow: -3px 3px 2px #0cf5a0;
    animation: titre ease 5s;
}               
@keyframes titre  {                   
0%  {     
    opacity: 0;  
    transform: translateY(100px);            
    } 
100%  {  
    opacity: 1;     
    transform: translateY(0px);
    }             
} 
/* *************************************** LEFT PART *************************************** */
#leftPart {  
    background-color: aqua;
    border-radius: 20px;
    padding: 25px;
}               
.elements { 
    padding: 70px 0;
}            
.elements img {
    border-radius: 50px;
    width: 200px;
}   
.elements p  {  
    font-size: 1.2em;                 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
}
.elements .button {
    text-align: right;
    margin: 15px 4% 0 0;
} 
/* ********************************** RIGHT PART ************************************ */
#rightPart { 
    background-color: tan;
    border-radius: 20px;
    padding: 20px;
}  
.tips {
    height: 200px;
    width: 200px;
    margin: 20px auto;
}
.tips h4 {
    position: relative;
    color: rgb(47, 20, 201);
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 
    1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000,
}    
.tips:hover {
    transform: scale(1.08);
    opacity: 0.7;
    transition: ease-out 0.2s;
}     
#transition { 
    padding: 50px 0;
} 
#transition img {
    animation: myAnim 6s ease 0s 1 normal forwards; 
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
/* ********************************** NEWSLETTER ************************************ */
#newsletter {
    background: url(pigment.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 370px;
    width: 70%;
    min-width: 450px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 70px;
}
#newsletter h4 {
    margin-top: 15px;
    padding: 100px 0 20px 0;
    font-size: 2em;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 
    1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000,
}
#newsletter .input-group {
    width: 40%;
    min-width: 350px;
    margin: 0 auto;
}
footer {
    background-color: #0cf5a0;
    padding: 15px 0 4px 0;
}